<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnCTydRwr0N7CXDYu4fIqD-oDl980ia-s</string>
	<key>GCM_SENDER_ID</key>
	<string>128738328947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dScanAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>d-scan-1057d</string>
	<key>STORAGE_BUCKET</key>
	<string>d-scan-1057d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128738328947:ios:975c8ce268bb9848c68506</string>
</dict>
</plist>